.breadcrumb {
    // border-bottom: 1px solid #EEE;
    padding: .5em 0;
    font-size: .875em;
    margin: 0;
    ul {
        @include li-reset;
        li {
            display: inline-block;
            margin: 0px .1em .1em 0px;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: "";
                display: inline-block;
                color: #666;
                margin-left: 0;
                padding: 0;
            }
        }
    }
    a {
        @include aSetting_nocolor;
        display: inline-block;
    }
}
.mp{
    .breadcrumb{
        margin: -10px 0 0 0;
        padding: .1em 0;
        z-index: 999;
        @include screen('mobile') {
          margin: 10px 0 0 5%;  
      }
      ul{
        max-width: 80%;
        margin: 0 auto;
        @include screen('tablet') {
           max-width: 88%; 
       }
       @include screen('mobile') {
        max-width: 98%; 
    }
}
}
}